# Directories
bin/
bin-int/
__pycache__/
Scripts/__state__/

#CMake
build/
cmake-build-debug/

# Files
*.user
*.json
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Rider files and folders
.idea/
