[submodule "Engine/Vendor/GLFW/module"]
	path = Engine/Vendor/GLFW/module
	url = https://github.com/CybernetHacker14/glfw.git
	branch = win32-borderless
[submodule "Engine/Vendor/spdlog/module"]
	path = Engine/Vendor/spdlog/module
	url = https://github.com/gabime/spdlog.git
	branch = v1.x
[submodule "Engine/Vendor/glm/module"]
	path = Engine/Vendor/glm/module
	url = https://github.com/g-truc/glm.git
	branch = master
[submodule "Engine/Vendor/EASTL/module"]
	path = Engine/Vendor/EASTL/module
	url = https://github.com/electronicarts/EASTL
[submodule "Engine/Vendor/EABase/module"]
	path = Engine/Vendor/EABase/module
	url = https://github.com/electronicarts/EABase
[submodule "Engine/Vendor/cereal/module"]
	path = Engine/Vendor/cereal/module
	url = https://github.com/USCiLab/cereal.git
[submodule "Engine/Vendor/imgui/module"]
	path = Engine/Vendor/imgui/module
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Engine/Vendor/flecs/module"]
	path = Engine/Vendor/flecs/module
	url = https://github.com/SanderMertens/flecs.git
